# Environment to run against: azuredev | azureprod | dev | qa | preprod | prod | demo
ENVIRONMENT=dev

# Optional auth values (if required by your APIs)
PLATFORM_API_KEY=
PLATFORM_BEARER_TOKEN=
PLATFORM_ACCOUNT_ID=
APP_MASK_ID=

# Enable Allure report output (true/false)
ALLURE=false
